
.greetings{
  height: 100%;
  background-color: #232323;

}

.greetings_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
  
}

.greetings_text{
  color: black;
  font-size: 28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.greetings_btn{
  border: none;
  outline: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 1;
  color: black;
  
  padding: 15px 0px;
  width: 320px;
  border-radius: 25px;
  transition: background-color 0.2s ease;
}
.greetings_btn:active{

  background-color: #D3C5A7;
  color: white;

}

.greetings_btn:hover{
  background-color: #B7AA8C;
  color: white;
}




.gender_title{
color: white;
}
.gender{
margin-right: 10px;
}
.radio_gender {
display: flex;
flex-direction: column;
gap: 15px;
width: 315px; /* Ширина контейнера */
margin: 0 auto; /* Центрирование контейнера */

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 400;
color: white;
}

label {
font-size: 14px; /* Размер текста надписи */
}

input[type="radio"] {
margin-right: 10px;
vertical-align: middle; 
width: 20px;
height: 20px; 
border-radius: 50%; 
background-color: #ccc; 
filter: grayscale(1);
}

input[type='radio']:after {
width: 10px;
height: 10px;
border-radius: 15px;
top: 15%;
left: 15%;
position: relative;
background-color: white;
content: '';
display: inline-block;
visibility: visible;
border: 2px solid white;
}

input[type='radio']:checked:after {
width: 10px;
height: 10px;
border-radius: 15px;
top: 15%; 
left: 15%;
position: relative;
background-color: #141413;
content: '';
display: inline-block;
visibility: visible;
border: 2px solid white;
}
p {
margin-top: 40px;
}


.reg{
  display: flex;
  width: 315px;
  justify-content:center;
  align-items:center;


}
.reg_arrow{
margin-right: 50px;
margin-top: 3px;
}



.greetings_btn.lightMode:hover {
color: white;
background-color: #B7AA8C;
}

.greetings_btn.darkMode:hover {
color: white;
background-color: #B7AA8C;
}


.greetings_btn.lightMode:active {
color: white;
background-color: #D3C5A7;
}

.greetings_btn.darkMode:active {
color: white;
background-color: #D3C5A7;
}

.greetings_btn.darkMode {
color: white;
background-color: #232323;
}
.greetings_btn.lightMode {
color: black;
background-color: white;
}


.password_input{
position: relative;
}
.password_field{

width: 316px;
padding: 10px 25px 11px 20px;
border: 1px solid #A3A3A3;
border-radius: 5px;

background-color: #373737;
outline: none;

box-sizing: border-box;

}
.error {
  border: 1px solid #FF0000;
}

.error_message {
  color: #FF0000;
  font-size: 12px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.password_input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
