.header{
    width: 100%;
    height: 13%;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.image{

    height: 100%;
}
.imageLogo{
    height: 100%;
}
