.greetings{
    height: 100%;

  
  }

  
  .greetings_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    
  }
  
  .greetings_text{
    color: black;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .greetings_btn{
    border: none;
    outline: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: black;
    padding: 15px 0px;
    width: 320px;
    border-radius: 25px;
    transition: background-color 0.2s ease;
  }
  .greetings_btn:active{
  
    background-color: #D3C5A7;
    color: white;
  
  }
  
  .greetings_btn:hover{
    background-color: #B7AA8C;
    color: white;
  }